In [7]:
from dgp import dgp_marketplace

df = dgp_marketplace().generate_data(N=10_000)
df.head()

        age        sales  online  products
0  0.312777   450.858091       0         2
1  1.176221  1121.882449       1         3
2  1.764048  2698.714549       0         1
3  1.082742  1627.746386       0         3
4  3.156503  1464.593939       0         2